@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

@layer base {
  body {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
  }
}

@layer utilities{
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  
  .no-scrollbar {
      -ms-overflow-style: none;  
      scrollbar-width: none;  
  }

  .no-track {
    scrollbar-color: aqua;
  }

  .no-track::-webkit-scrollbar-track {
    background-color: aqua;
  }

  .thumb-enabled::-webkit-slider-thumb {
    pointer-events: all;
    cursor: pointer;
  }

  .locked {
    pointer-events: none;
    user-select: none;
  }

  .locked .thumb-enabled::-webkit-slider-thumb {
    pointer-events: none;
    cursor: default;
  }
}